@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');

:root {
    --primary-color:  rgb(91, 139, 250);
}

* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);
    font-family: 'Open sans', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: #fff;
    padding: 20px;
    border-radius: 20px;
}

.container h1 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
}

.cpf-gerado {
    font-size: 2em;
    color: var(--primary-color);
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
    letter-spacing: 5px;
}


.botao {
    display: flex;
    justify-content: center;
}

button {
    padding: 15px;
    background-color: rgb(82, 185, 249);
    border-radius: 15px;
    border: #fff;
    font-size: 15px;
    text-transform: uppercase;
    color: white;
}
